---

---

<header class="header" id="header">
    <div class="container">
        <div class="nav-container">
            <a href="#" class="logo">
                <img src="g400-logo.png" alt="Gestion400 Logo">
                <!-- <span>Gestión400</span> -->
            </a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#inicio" class="nav-link active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#nosotros" class="nav-link">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a href="#productos" class="nav-link">Productos</a>
                </li>
                <li class="nav-item">
                    <a href="#servicios" class="nav-link">Servicios</a>
                </li>
                <li class="nav-item">
                    <a href="#blog" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="#contacto" class="nav-link">Contacto</a>
                </li>
            </ul>
            <div class="mobile-menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
</header>

